@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');


body {
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(103, 184, 254);

min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

#Card {
    width: 20rem;
    aspect-ratio: 2.2;
    border-radius: 0.9rem;
    padding: 1.7rem;
    
    

    background-color: rgb(255, 255, 255);
    border:3px solid rgb(0, 0, 0);

    box-shadow: 0.8rem 2rem 0.8rem #0003;
}

#TextCard{ 
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
}

button {
    margin-top: 1rem;
    padding: 0.5em 1em;
    opacity: 1;
    border: 1px solid rgb(0, 0, 0)
}

button:hover {
    opacity: 2;
}

#searchInput{
      margin: 2rem;
      width: 20rem;
      font-size: 1.2rem;
      padding: 0.5em
   }

#blague {
    background-color: white;
    border-radius: 20px;
    font-size: larger;
    
}




#idea {
    background-color: white;
    border-radius: 20px;
    font-size: larger;
    
}

#strategy {
    background-color: white;
    border-radius: 20px;
    font-size: larger;
}